
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
        <p class="sgnup-msg">Signing up to get access to a ready made porfolio is easy! It's free!</p>
    </div>
  </div>
</section>

<div class="form-container">

  <%=form_for :user, url: {action: 'create'} do |f| %>
  <%= label_tag(:full_name, "Full Name") %>
  <br>
    <%=f.text_field :full_name, class: "input-field"%>
  <br>
   <%= label_tag(:email, "Email") %>
  <br>
   <%=f.email_field :email, class: "input-field" %>
  <br>
    <%= label_tag(:password, "Password") %>
  <br>
    <%=f.password_field :password, class: "input-field" %>
  <br>
    <%=f.submit "Sign Up", class: "btn btn-primary btn-frm" %>
  <% end %>
</div>

